# CodeIgniter 4
/vendor/
/builds/
/node_modules/
/public/assets/*
!/public/assets/index.html
/writable/cache/
/writable/debugbar/
/writable/logs/
/writable/session/
/writable/uploads/
/writable/debugbar/
/tests/_support/_generated
/.env
/.env.*
!/env
/local/
/public/upload/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
